body{
    height: 100vh;
    width: 100vw;
    background-color: aqua;
}
#fdiv{
    background-color: rebeccapurple;
    margin: 2rem;
    padding: 2rem;
    width: 550px;
    color: aqua;
    background-color: rgb(51, 47, 13);
}
#fpara{
    color: red ;
    padding: 2rem;
    background-color: rgb(185, 132, 16);
}
/* #sdiv{

} */
/* #spara{

} */